/* #region Sitewide */
* {
    font-family:"Exo 2", sans-serif;
}

p{
    color:white;
}

p a{
    color:white;
}

h1{
    color:white;
    text-align: center;
    font-size: 25px;
}

h2{
    color:white;
    text-align: left;
    font-size: 20px;
    margin: 0px 5vw;
}


hr{
    margin: 30px 40vw 10px 40vw;
}

.intro{
    margin: 0px 5vw;
}

/* #endregion */

/* #region Header Styles */

#nav-box{
    display:flex;
    flex-direction: row;
    height: auto;
    background-color: black;
    align-content: center;
    width: auto;
}

.left-nav{
    display:flex;
    flex-direction:row;
    align-content:center;
    height:auto;
    margin-right: auto;
}

.right-nav{
    display:flex;
    flex-direction:row;
    align-content:center;
    height:auto;
}

.nav-items{
    text-decoration: none;
    text-align: center;
    padding: 15px;
    font-size:15px;
    color:white;
    width: auto;
    transition:250ms;
}

.nav-active{
    text-decoration: none;
    text-align: center;
    padding: 15px;
    font-size:15px;
    background-color:white;
    color:black;
    width: auto;
}

.nav-items:hover{
    background-color:white;
    color:black;
}

#logo{
    text-decoration: none;
    text-align: center;
    padding: 15px 15px;
    font-size:15px;
    color:white;
    width: auto;
}

.nav-icons{
    padding: 5px;
    width: auto;
    transition:250ms;
}

.nav-icons:hover{
    background-color:white;
}

.nav-icons .icon-front{
    display: inline;
}

.nav-icons:hover .icon-front{
    display: none;
}


.nav-icons .icon-back{
    display: none;
}

.nav-icons:hover .icon-back{
    display: inline;
}

@media (orientation: landscape) {
    #rotate-suggestion{
        display:none;
    }
}

@media (orientation: portrait) {
    #rotate-suggestion{
        padding:10px;
        background: #ffff00;
        font-size: 30px;
    }
}


/* #endregion */

/* #region Body Styles */

.home-media{
    width:auto;
    margin: 0px 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.data-graphs{
    width: 40vw;
    height: 35vh;
    background-color: #222222;
    overflow: hidden;
    margin: 5vh 5vw;
    display:none;

    /*
    padding: 0 18px;
    max-height: 0;
    transition: max-height 0.2s ease-out;*/
}

/*Below is based on https://www.w3schools.com/howto/howto_js_collapsible.asp*/

.collapsible-data{
    background: rgb(0,0,0);
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 97vw;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    transition:250ms;
    margin: 0 1.5vw;
}

.collapsible-data.smaller{
    padding: 9px;
    margin: 0 0 0 3vw;
    width: 95.5vw;
    border-radius: 8px;
}

.collapsible-active, .collapsible-data:hover{
    /*fallback reaction if gradients are disabled*/
    background-color: #444444;
}

.collapsible-data:after {
    content: '\25BC'; /* Unicode for down arrow (hex)*/
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
  
.collapsible-active:after {
    content: "\25B2"; /* Unicode for up arrow */
}

.collapsible-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.docs-content, .docs-content ul{
    display:none;
}

.docs-listing li{
    color:white;
    overflow: hidden;
    margin: 0 5vw;
}

.docs-listing p{
    color:white;
    overflow: hidden;
    margin: 16px 5vw;
}



/*Above is based on https://www.w3schools.com/howto/howto_js_collapsible.asp*/

/* #endregion */

/* #region Footer Styles */
body{
    margin:0;
    background-color:rgb(43, 43, 43);
}

.footer-container{
    height:50px;
    background-color: black;
    align-content: center;
    width: 100%;
}

.footer-container p{
    font-size: 13px;
    text-align: center;
    padding-top: 15px;
}
/* #endregion */